.login-container {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.8),
      30%,
      rgba(255, 255, 255, 0)
    ),
    url(back2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 110%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  width: 100vw;
  font-family: "Raleway", sans-serif;
}
.log-form {
  width: 100%;
  height: 40%;
}
.log-input {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 2rem;
  width: 80%;
  height: 3rem;
  padding: 1rem;
  margin: 0.5rem 0;
  border: none;
  outline: none;
  color: #3c354e;
  font-size: 1rem;
  font-weight: bold;
}
.log-input:focus {
  display: inline-block;
  box-shadow: 0 0 0 0.2rem #b9abe0;
  backdrop-filter: blur(12rem);
  border-radius: 2rem;
}
.log-input::placeholder {
  color: #555;
  font-weight: 300;
  font-size: 1rem;
}
