.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  position: absolute !important;
  /* top: 145px !important; */
}

.filter {
  position: relative;
}

.top145 {
  top: 145px !important;
  position: fixed !important;
  float: right !important;
}
.top0 {
  top: 0;
}
.top209 {
  top: 209px !important;
  position: fixed !important;
  width: 240px !important;
}
.acc-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.acc-list li {
  padding: 5px 25px;
  cursor: pointer;
}
.acc-list li:hover {
  background-color: rgb(212, 212, 212);
}
