.offices {
  display: flex;
  color: white;
  justify-content: space-between;
}
.main-office {
  display: flex;
  color: white;
  justify-content: center;
  padding-bottom: 3%;
}
@media (max-width: 700px) {
  .offices {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
  }
}
