@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

input {
  font-family: "Raleway", sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.text-wrap {
  display: flex;
  justify-content: flex-start;
}
.text-base {
  color: #777;
  margin-top: 40px;
  max-width: 100%;
  text-align: start;
  padding: 0;
  line-height: 1.33333;
  font-size: 18px;
  font-weight: 300;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-align: justify;
}
a {
  text-decoration: none !important;
  color: inherit !important;
}
.container {
  padding: 0 10%;
}
