.counters {
  background: #1c1c1c;
  color: #fff;
  padding: 40px 20px;
  border-top: none;
  /* height: 30vh; */
}

.counters .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  text-align: center;
}

.counters i {
  color: #ffce34;
  margin-bottom: 5px;
}

.counters .counter {
  font-size: 45px;
  margin: 10px 0;
  color: #ffce34;
}
.cout-icon {
  font-size: 80px;
}
@media (max-width: 700px) {
  .counters .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .cout-icon {
    font-size: 50px;
  }
  .counters h3 {
    font-size: 15px;
    font-weight: normal;
  }
  .counters .counter {
    font-size: 25px;
    margin: 10px 0;
    color: #ffce34;
  }
}
